img {
  padding: 1.5em;
  width: 20em;
  height: 20em;
  object-fit: cover;
}

@media screen and (min-width: 40em) {
  img {
    padding: 1.5em;
    width: 15em;
    height: 15em;
    object-fit: cover;
  }
}
