<div class="textAboutCart">
  <div>
    <p>Date: {{ today | date: 'shortDate' }}</p>
    <p>Time: {{ today | date: 'shortTime' }}</p>
  </div>
  <p class="connected">connected: {{ today | timeAgo }}</p>
  <div>
    <p>On Cart: {{ myShoppingCart.length }}</p>
    <p>Total: {{total | currency: 'USD'}}</p>
  </div>
</div>
<button (click)="toogleProductDetail()" style="width: 50vw; height: 50vh;"></button>
<div class="products--grid">
  <app-product
  [product]="product"
  *ngFor="let product of products"
  (addedProduct)="addToShoppingCart($event)"
  (showProduct)="onShowDetail($event)"
  ></app-product>
</div>
<div class="product-detail" [class.active]="showProductDetail">
  <div>
    <button (click)="toogleProductDetail()">Close</button>
    <p>Contenido</p>
  </div>
</div>
