// Mobile
.products--grid {
  display: flex;
  flex-direction: column;
}

.textAboutCart {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #000000;
  top: 3.5em;
  padding: 2em 0;
  div {
    p {
      font-size: 1em;
      margin: 0 0.5em;
    }
  }
}

.connected {
  display: none;
}

// Tablets
@media  screen and (min-width: 40em) and (max-width: 63.9em){
  .products--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
  }
}

// Desktop or more
@media  screen and (min-width: 64em){
  .products--grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
  }
  .textAboutCart {
    position: fixed;
    justify-content: space-between;
    padding: 1em 0;
    div {
      p {
        display: flex;
        font-size: 0.9em;
      }
    }
  }
  .connected {
    font-size: 0.8em;
    display: block;
  }
}

