div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  border: 0.2em black solid;
  width: 100vw;
  margin: 3em 0;
}

div hr {

  border: 0.1em gray solid;
  width: 50vw;
  margin: 1.5em 0;
}

.container {
  display: flex;
  flex-direction: row;
  width: 50vw;
  justify-content: space-evenly;
}

.box {
  text-align: justify;
  padding: 1em;
  width: 20em;
  height: 10em;
  overflow: auto;
}

button {
  border: none;
  outline: none;
  color: white;
  background-color: green;
  padding: 1em;
  margin: 1em 0;
  border-radius: 1em 0 1em 0;
  transition: 0.5s;
  font-size: 1em;
}

button:disabled {
  border: none;
  opacity: 0.5;
  border-radius: 0 1em 0 1em;
  transition: 0.3s;
}

progress {
  border-radius: 100%;
  margin: 1em 0;
}

img {
  margin: 1em 0;
  object-fit: cover;
  width: 20em;
  height: 20em;
}

p {
  margin: 1em 0;
}
