<div>
  <h1>*ngIf</h1>
  <input type="text" required [(ngModel)]="person.name" style="margin: 1em 0;"/>
  <p *ngIf="person.name === 'Josue'; else elseBlock">Awesome! You're Josue</p>
  <ng-template #elseBlock>
    <p *ngIf="person.name !== 'Josue'">Ops! Your name isn't Josue</p>
  </ng-template>
  <hr/>
  <h1>Data Binding</h1>
  <div class="container">
    <div>
      <p>Nombre: {{person.name}}</p>
      <input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"/>
      <p>Valid: {{nameInput.valid}}</p>
    </div>
    <div>
      <p>Age: {{person.age}}</p>
      <input type="number" required #ageInput="ngModel" [(ngModel)]="person.age" max="24" min="18"/>
      <p>Valid: {{ageInput.valid}}</p>
    </div>
  </div>
  <hr/>
  <h1>Event Binding</h1>
  <button [disabled]="btnDisabled2">CLIC ON ME</button>
  <button (click)="toggleButton()">TURN ON/OFF</button>
  <hr/>
  <h3>Increase age: {{person.age}}</h3>
  <div class="container">
    <button (click)="decreaseAge()">DECREASE AGE</button>
    <button (click)="increaseAge()">INCREASE AGE</button>
  </div>
  <hr/>
  <div class="box" (scroll)="onScroll($event)">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam ipsa, eum, rem praesentium, vero eos natus sunt distinctio aperiam assumenda iusto omnis neque odio autem. Omnis laboriosam sint ab hic?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas repudiandae maxime est pariatur, incidunt perspiciatis fugiat maiores ab consequatur dolorum rem nulla, dolores fuga corrupti blanditiis nesciunt ipsum, itaque recusandae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, consequatur! Cumque est adipisci aliquid, nesciunt laboriosam delectus obcaecati dolore voluptatem perferendis illum recusandae facere minus tempora laborum nobis aspernatur ratione.</p>
  </div>
  <hr/>
  <p>Nombre: {{person.name}}</p>
  <input type="text" [placeholder]="person.name" (keyup)="changeName($event)"/>
</div>
<hr/>
<div>
  <h1>Property Binding</h1>
  <button [disabled]="btnDisabled">CLIC ON ME</button>
  <input type="text" [value]="title"/>
  <progress [max]="progress_a" [value]="progress_b"></progress>
  <!-- <img [src]="img" alt=""/> -->
  <div>
    <p>Nombre: {{person.name}}</p>
    <p>Age: {{person.age}}</p>
    <p>Does {{person.name}} love Angular?: {{person.heLovesAngular}}</p>
  </div>
</div>
<hr>
<div>
  <h1>Interpolation</h1>
  <p>Repeat line with interpolation x5: <span style="color: green;">{{'Repeat '.repeat(5)}}</span></p>
  <!-- <img src="{{img}}" alt=""/> -->
  <p>My favorite number + my fav number with interpolation is = <span style="color: green;">{{favNumber + favNumber}}</span></p>
</div>

