<div class="show-mobile">
  <div>
    <button>
      <img src="../../../assets/svg/icon_menu.svg" alt="menu">
    </button>
    <a href="">
      <img src="../../../assets/svg/hoenixstore.png" alt="logo" class="logo">
    </a>
    <a href="">
      <img src="../../../assets/svg/icon_shopping_cart.svg" alt="logo">
    </a>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img src="../../../assets/svg/hoenixstore.png" alt="logo" class="logo">
      </a>
      <ul>
        <li><a href="">Games</a></li>
        <li><a href="">About</a></li>
        <li><a href="">More</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">josuehoenicka@gmail.com</div>
      <div>
        <a href="">
          <img src="../../../assets/svg/icon_shopping_cart.svg" alt="logo">
        </a>
      </div>
    </div>
  </div>
</div>
