:root {
  --bg:#1b1b1b;
  --text: #8091cefa;
  --text2: #7f8186fa;
  --text3: #8091ceb6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: monospace;
  user-select: none;
  background-color: var(--bg);
  color: var(--text2);
}

*::-webkit-scrollbar {
  display: none;
}

.products--grid {
  app-img {
    img {
      border-radius: 2em;
    }
  }
}
