:root {
  --bg: #ffffff;
  --text: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: monospace;
  user-select: none;
  background-color: var(--bg);
  color: var(--text);
}

body {
  width: 100vw;
  height: 100vh;
}

/*
body::-webkit-scrollbar {
  display: none;
}
*/
